@import "_mocha.scss";

body {
    margin: 0;
    font: 400 14px/1.4 "Lexend", "sans-serif";
    background: $mantle;
    background: linear-gradient(135deg, $peach 0%, $maroon 50%, $mauve 100%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
    width: 100vw;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
